{
  "sources": [
    {
      "name": "UserControlled1",
      "comment": "use to annotate user input"
    }
  ],

  "sinks": [
    {
      "name": "ReturnedToUser1",
      "comment": "returned to user"
    }
  ],

  "features": [],

  "rules": [
    {
      "name": "Possible RCE:",
      "code": 888,
      "sources": [ "UserControlled1" ],
      "sinks": [ "ReturnedToUser1" ],
      "message_format": "User specified data may reach a code execution sink"
    }
  ]
}